<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
</head>
<body>

<h1>Editar Producto</h1>

<form th:object="${producto}" th:action="@{/productos/editar/{id}(id=${producto.id})}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" />
    <label>Nombre: <input type="text" th:field="*{nombre}" /></label><br/>
    <label>Precio: <input type="text" th:field="*{precio}" /></label><br/>
    <img th:if="${producto.imagen}" th:src="@{'/productos/imagen/' + ${producto.id}}" alt="Imagen del Producto" class="producto-imagen" />
    <label>Imagen: <input type="file" name="imagenFile" /></label><br/> <!-- Campo para cargar la imagen -->
    <input type="submit" value="Guardar"/>
</form>

<a th:href="@{/productos/listar}">Volver al listado</a>

</body>
</html>

